.logo {
  width: 126px;
  height: 126px;
  margin-top: 146px;
}

.LogoDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 309px;
  box-sizing: border-box;
}

.StartingForm {
  height: 100%;
}

.login {
  width: 314px;
  height: 64px;
  margin-bottom: 21px;
}
.BtnDiv {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  width: 314px;
  height: 64px;
}
