.SendMoneyPasswordForm {
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.SendMoneyPassword-title {
  font-size: 36px;
}
.SendMoneyPassword-SimpleInputDiv {
  display: flex;

  justify-content: space-around;
  margin-top: 100px;
}
.SendMoneyPasswordNextBtnDiv {
  width: 320px;
  position: absolute;
  margin-top: 347px;
}
.SendMoneyPasswordNextBtn {
  width: 320px;
  height: 60px;
  border-radius: 0%;
}
