.TakePasswordForm {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.TakePasswordTitle {
  font-size: 36px;
}
.TakePasswordInputDiv {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-top: 100px;
}
.TakePasswordSubmitDiv {
  width: 100%;
  margin-top: auto;
  height: 60px;
}
.TakePasswordSubmitBtn {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0%;
}
