body {
  margin: 0%;
}
.contant {
  width: 360px;
  height: 640px;
  border: 1px solid black;
  margin: auto;
  box-sizing: border-box;
}
.kakaoBtn {
  border: none;
  background-color: #f8df00;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

.kakaoInput {
  border: 1px solid RGB(209, 209, 209);
  outline: none;
  padding: 0.3rem;
  font-size: 1rem;
}
