.SimpleLoginForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SimpleLoginTitle {
  font-size: 36px;
  margin-top: 93px;
}
.SimpleLoginInputDiv {
  margin-top: 54px;
}

.SimpleLoginSubmitDiv {
  position: absolute;
  width: 360px;
  margin-top: 580px;
}
.SimpleLoginSubmitBtn {
  width: 100%;
  height: 60px;
  border-radius: 0;
}
.SimpleLoginInputDiv {
  display: flex;
  width: 70%;
}
.SimpleLoginInput {
  width: 100%;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  background: #e9e9e9;
  border-radius: 10px;
  border: none;
  letter-spacing: 10px;
}
.SimpleLoginInput:focus {
  outline: none;
}
